.message {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: calc(100% - #{$spacing * 4});
    max-width: 600px;
    padding: $spacing * 5;
    background-color: $color-WH;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 10000001;
    @media screen and (min-width: 768px) {
        padding: $spacing * 6;
    }
    .message-container {
        text-align: right;
    }
    &-newsletter {
        &.message-loading::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: $color-secondary;
            opacity: 0.5;
            z-index: 1;
        }
        .icon-close {
            position: absolute;
            top: $spacing;
            right: $spacing;
            width: 40px;
            height: 40px;
            padding: 8px;
            color: $color-secondary;
            font-size: $font-size-24;
            line-height: 0;
            background-color: $color-WH;
            cursor: pointer;
            -webkit-transition: color 0.3s, background-color 0.3s;
            -o-transition: color 0.3s, background-color 0.3s;
            transition: color 0.3s, background-color 0.3s;
            &:hover {
                color: $color-WH;
                background-color: $color-primary;
            }
            @media screen and (min-width: 768px) {
                top: $spacing*2;
                right: $spacing*2;
            }
        }
        .message-title {
            font-family: $headings-font-family;
            font-size: $font-size-24;
            font-weight: $headings-font-weight;
            line-height: $headings-line-height;
            margin-bottom: $spacing * 2;
            text-align: left;
            @media screen and (min-width: 768px) {
                font-size: $font-size-32;
                margin-bottom: $spacing * 3;
            }
        }
        .message-preface {
            margin-bottom: $spacing * 2;
            font-size: $font-size-base;
            font-family: $headings-font-family;
            text-align: left;
            span {
                display: inline-block;
            }
        }
        button {
            margin-top: $spacing * 4;
            min-width: 100%;
            &:focus, &:hover, &:active {
                outline: 0 !important;
            }
            @media screen and (min-width: 768px) {
                min-width: 150px;
            }
        }
        form {
            > input[type*="email"] {
                display: block;
                width: 100%;
                height: 50px;
                text-align: left;
                border: 1px solid $divider-light;
                -webkit-appearance: none;
                border-radius: 0;
                &:focus {
                    border-color: $color-NA400;
                }
                &.error-status {
                    border-color: $color-RED800;
                }
            }
            > div.help {
                display: none;
                padding-top: $spacing-tiny;
                padding-bottom: $spacing-tiny;
                color: $color-GR400;
                font-family: $font-family-sans;
                font-size: $font-size-14;
                text-align: left;
                &.help--error {
                    color: $color-warning;
                }
            }
            > label {
                font-family: $font-family-sans;
                color: #707070;
                padding-top: $spacing *3;
                span {
                    display: block;
                    padding-left: $spacing;
                }
                a {
                    text-decoration: underline;
                }
            }
        }
    }
}

.label-check {
	display: block;
	position: relative;
    padding-left: $font-size-14;
	font-size: 0;
	cursor: pointer;
	z-index: 1;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
    text-align: left;
	span {
		display: inline-block;
		vertical-align: top;
		line-height: 1.25;
		&.check-text {
            font-size: $font-size-14;
		}
		&.check-mark {
			position: absolute;
			top: calc(((1.125rem - #{$font-size-14}) / 2) + #{$spacing * 3});
			left: 0;
            padding: 0;
			width: $font-size-14;
			height: $font-size-14;
			background-color: transparent;
			border: 1px solid $color-NA900;
            border-radius: 2px;
			&::after {
				content: '';
				position: absolute;
				display: none;
				top: 50%;
				left: 50%;
				width: $spacing-tiny;
				height: $spacing;
                border: solid $color-NA900;
                border-width: 0 1px 1px 0;
                transform-origin: 75% 50%;
				transform: translate(-50%, -50%) rotate(45deg);
			}
		}
	}
	input {
		position: absolute;
		width: 0;
		height: 0;
		overflow: hidden;
		opacity: 0;
		cursor: pointer;
		&:checked {
			~ span.check-mark {
				border-color: $color-NA900;
				&::after {
					display: block;
				}
			}
		}
	}
	&:hover,
	&.active {
		input {
			~ span.check-mark {
				border-color: $color-primary;
                &::after {
                    border-color: $color-primary;
                }
			}
			&:checked {
				~ span.check-mark {
                    border-color: $color-primary2;
                    &::after {
                        border-color: $color-primary2;
                    }
				}
			}
		}
	}
}

.black {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-secondary;
    opacity: 0.5;
    z-index: 10000000;
}
